.authentication-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sign-in-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}